* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
}

@font-face {
  font-family: Montserrat Regular;
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat Bold;
  src: url("assets/fonts/Montserrat-Bold.ttf");
}

body {
  width: 600px;
  height: 584px;
  font-family: Montserrat Regular;
  color: var(--white);
}
table {
  width: 100%;
  height: 100%;
  background-image: url("assets/imgs/background.png");
}
td {
  display: inline-block;
}

.title {
  width: 100%;
  font-family: Montserrat Bold;
  font-size: 2.625rem;
  line-height: 3.2rem;
  text-align: center;
}
.titleTop {
  height: 148.2px;
  padding-top: 87px;
}
.titleBottom {
  height: 119.2px;
  padding-bottom: 68px;
}

.sneakersItem {
  width: 120px; 
  height: 214px;
}
#item1 {
  margin-left: 70px;
  margin-right: 50px;
}
#item2 {
  margin-right: 50px;
}

.sneakersItem > img {
  width: 120px;
  height: 120px;
  margin-bottom: 4px;
}

.sneakersItem > p:first-of-type {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.938rem;
  margin-bottom: 3px;
}

.sneakersItem > p:nth-of-type(2) {
  font-size: 0.625rem;
  line-height: 0.75rem;
  margin-bottom: 2px;
}

.sneakersItem > p:last-of-type {
  margin-bottom: 15px;
}

.sneakersItem > p:last-of-type > span:first-of-type {
  font-size: 0.625rem;
  line-height: 0.75rem;
  text-decoration: line-through;
  margin-right: 8px;
}
.sneakersItem > p:last-of-type > span:last-of-type {
  font-size: 0.875rem;
  line-height: 1.063rem;
  font-family: Montserrat Bold;
}
.sneakersItem > a {
  width: 120px;
  height: 24px;
  padding: 6px 37px;
  border: 1px solid var(--white);
  border-radius: 20px;
  font-size: 0.625rem;
  line-height: 0.75rem;
  background-color: transparent;
  color:  var(--white);
  text-decoration: none;
}
.sneakersItem > a:hover {
  background-color: var(--white);
  color: var(--black);
}